html, body, .container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0px;
  padding: 10px;
}
body {
  > .container {
    padding: 5px;

    .header {
      margin-bottom: 20px;

      h3 {
        padding-bottom: 5px;
      }
    }
    main {
      margin-bottom: 20px;

      h2 {
        display: none;
        margin-top: 5px;
        margin-bottom: 5px;

        a {
          font-size: 50%;
        }
      }
      hot-table {
        span.break {
          &:before {
            content: "\A" ;
            white-space: pre;
          }
        }
      }
    }
  }
}
