html, body, body > .container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0px;
  //padding: 10px;
}
main {
  margin-bottom: 3em;

  hot-table {
    .htDimmed {
      background-color: #f3f3f3;
    }
  }
}
