.handsontable {
  tr.has-rowspan {
    ~ tr {
      .hide-for-rowspan {
        display: none;
      }
      .next-to-rowspan {
        border-left-width: 0px;
      }
    }
  }

  [rowspan] {
    border-bottom-width: 0px;
  }
  .ht_master {
    &.innerBorderTop {
      +.ht_clone_top {
        [rowspan] {
          border-bottom-width: 1px;
        }
      }
    }
  }
}
