.member-section {
  .table {
    td, th {
      white-space: nowrap;
    }
    thead {
      .vertical {
        writing-mode: vertical-rl;
        text-orientation: upright;
        white-space: nowrap;
      }
    }
  }
  footer {
    .information {
      display: flex;

      fieldset {
        margin-right: 30px;
      }
    }
  }
}
