.words {
  display: flex;

  .nav {
    white-space: nowrap;

    li {
      &.active {
        background-color: #eee;
      }

      a[ng-href] {
        visibility: hidden;
      }
      &:hover {
        a[ng-href] {
          visibility: visible;
        }
      }
    }
  }

  .list {
    flex-grow: 1;
    position: relative;

    .handsontable-container {
      margin-bottom: 1rem;
    }

    h2 {
      &::after {
        content: '';
        background-repeat: no-repeat;
        opacity: 0.3;

        top: 0;
        left: 0;
        height: 675px;
        width: 900px;
        position: absolute;
        z-index: -1;
      }
    }
    &.basic-information {
      h2::after {
        background-image: url(../images/words/basic-information.png);
      }
    }
    &.member-section {
      h2::after {
        background-image: url(../images/words/member-section.png);
      }
    }
    &.design-point {
      h2::after {
        background-image: url(../images/words/design-point.png);
      }
    }
    &.bars {
      h2::after {
        background-image: url(../images/words/bars.png);
      }
    }
    &.fatigue {
      h2::after {
        background-image: url(../images/words/fatigue.png);
      }
    }
    &.safety-factor-material-strength {
      h2::after {
        background-image: url(../images/words/safety-factor-material-strength.png);
      }
    }
    &.section-forces {
      h2::after {
        background-image: url(../images/words/section-forces.png);
      }
    }
    &.calculation-print {
      h2::after {
        background-image: url(../images/words/calculation-print.png);
      }
    }
  }
}
