<div class="checkbox">
  <label>
    <input type="checkbox" name="calc_01" ng-model="ctrl.calculationPrint.calc_01"> 基本データ
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" name="calc_02" ng-model="ctrl.calculationPrint.calc_02"> 安全係数・材料強度
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" name="calc_03" ng-model="ctrl.calculationPrint.calc_03"> 断面力の集計表
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" name="calc_04" ng-model="ctrl.calculationPrint.calc_04"> 性能照査
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" name="calc_05" ng-model="ctrl.calculationPrint.calc_05"> 必要鉄筋量
  </label>
</div>
