<div #ht_container class="ht-container">
  <ngb-tabset>
    <ngb-tab *ngFor="let groupe of groupe_list; index as i">
      <ng-template ngbTabTitle>
        <h5>{{groupe[0].g_name}}</h5>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="table-container">
          

          <app-sheet  #grid [options]="options"></app-sheet>

          <!-- <hot-table class="hot" [settings]="table_settings" [data]="table_datas[i]" [colHeaders]="false"
            [rowHeaders]="false" height="{{hottable_height}}" width="1698"
            licenseKey="non-commercial-and-evaluation">
            <!-- [mergeCells] = "mergeCells[i]" > -->
            <!-- <hot-column data="m_no" width="58" [readOnly]="true"></hot-column>
            <hot-column data="position" width="104" [readOnly]="true"></hot-column>
            <hot-column data="p_name_ex" width="235" [readOnly]="true"></hot-column>
            <hot-column data="bh" width="82" [readOnly]="true"></hot-column>
            <hot-column data="haunch_height" width="80"></hot-column>
            <hot-column data="design_point_id" width="40" [readOnly]="true"></hot-column>

            <hot-column data="rebar_dia" width="67" type="numeric"></hot-column>
            <hot-column data="rebar_n" width="67" type="numeric"></hot-column>
            <hot-column data="rebar_cover" width="67" type="numeric"></hot-column>
            <hot-column data="rebar_lines" width="67" type="numeric"></hot-column>
            <hot-column data="rebar_space" width="67" type="numeric"></hot-column>
            <hot-column data="rebar_ss" width="67" type="numeric"></hot-column>

            <hot-column data="side_dia" width="67" type="numeric"></hot-column>
            <hot-column data="side_n" width="67" type="numeric"></hot-column>
            <hot-column data="side_cover" width="67" type="numeric"></hot-column>
            <hot-column data="side_ss" width="67" type="numeric"></hot-column>

            <hot-column data="stirrup_dia" width="68" type="numeric"></hot-column>
            <hot-column data="stirrup_n" width="68" type="numeric"></hot-column>
            <hot-column data="stirrup_ss" width="68" type="numeric"></hot-column>

            <hot-column data="cos" width="83"></hot-column>
            <hot-column data="tan" width="83"></hot-column>
            <hot-column data="enable" width="38" type="checkbox"></hot-column>
          </hot-table> --> 
        </div>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>