.ht-container {
  height: 100%;
}

.table-container {
  margin-top: 7px;
  margin-left: 7px;
}

.header {
  margin-bottom: 0px;
  padding-bottom: 0px;
  overflow: visible;
  box-sizing: border-box;
  display: block;

  table, th, td {
    border: 1px solid #cfcfcf;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    padding: 0;
    line-height: 1.5;
    background: #f3f3f3;
  }

  .hot {
    margin-top: 0px;
    padding-top: 0px;
    height: 100%;
  }
}