main {
  .safety-factors {
    display: inline-block;

    header {
      display: flex;
      justify-content: space-between;

      button {
        margin-left: 1em;
        margin-bottom: 3px;
      }
    }
  }
}
