<section class="section-forces">
  <h2>
    <a href="#!/members"><span class="glyphicon glyphicon-arrow-left"></span> Members</a>
    SectionForces
    <a href="#!/section-forces/add"><span class="glyphicon glyphicon-plus"></span></a>
    <a href="#!/bending-moments">BendingMoments<span class="glyphicon glyphicon-arrow-right"></span></a>
    <a href="#!/shears">Shears <span class="glyphicon glyphicon-arrow-right"></span></a>
    <a href="#!/bar1s">Bar1s <span class="glyphicon glyphicon-arrow-right"></span></a>
    <a href="#!/fatigue1s">Fatigue1s <span class="glyphicon glyphicon-arrow-right"></span></a>
  </h2>

  <hot-table
    settings="ctrl.settings"
    datarows="ctrl.sectionForces">
  </hot-table>
</section>
