table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }
  
  // #col-5 {
  //  width: 100;
  // }

  .top {
      border-top: 1px solid black;
  }
  
  .bottom {
      border-bottom: 1px solid black;
  }
  
  .left {
    border-left: 1px solid black;
  }
  
