<section class="basic-information">
  <h2>Basic Information</h2>

  <section ng-repeat="(title, config) in ctrl.config['pickup.moment']" class="pickup-moment">
    <h3>{{title}}</h3>
    <hot-table
      hot-id="pickupMoment"
      settings="ctrl.pickup.moment.settings"
      datarows="ctrl.pickup.moment.datarows">
    </hot-table>
  </section>

  <section ng-repeat="(title, config) in ctrl.config['pickup.shearforce']" class="pickup-shear-force">
    <h3>{{title}}</h3>
    <hot-table
      hot-id="pickupShearforce"
      settings="ctrl.pickup.shearforce.settings"
      datarows="ctrl.pickup.shearforce.datarows">
    </hot-table>
  </section>

  <section ng-repeat="(title, buttons) in ctrl.config.buttons" class="buttons">
    <h3>{{title}}</h3>
    <ul>
      <li ng-repeat="(label, config) in buttons">
        <button type="button" class="btn btn-default">{{label}}</button>
      </li>
    </ul>
  </section>

  <section class="specification">
    <div ng-repeat="(title, config) in ctrl.config.specification"
        ng-switch on="type"
        ng-init="
          name = config.var;
          type = config.type;
        ">
      <h3 ng-if="type=='radio'">{{title}}</h3>

      <div ng-switch-when="radio" ng-repeat="(value, labels) in config.options">
        <div class="radio">
          <label>
            <input type="radio"
              name="{{name}}"
              ng-model="ctrl.basicInformation[name]"
              ng-value="value"
              ng-change="ctrl.change(name, value)">
            {{labels.ja}}
          </label>
        </div>
      </div>

      <div ng-switch-when="checkbox">
        <div class="checkbox">
          <label>
            <input type="checkbox"
              name="{{name}}"
              ng-model="ctrl.basicInformation[name]"
              ng-change="ctrl.change(name)">
            {{title}}
          </label>
        </div>
      </div>
    </div>
  </section>

  <section ng-repeat="(title, config) in ctrl.config.limit" ng-init="name = config.var" class="form-inline">
    <h3>{{title}}</h3>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          {{config.label}}
        </span>
        <input type="number" class="form-control" name="{{name}}" ng-model="ctrl.basicInformation[name]" ng-change="ctrl.change(name)">
        <span class="input-group-addon">
          {{config.postfix}}
        </span>
      </div>
    </div>
  </section>

  <section ng-repeat="(title, config) in ctrl.config.axial" ng-init="name = config.var">
    <h3>{{title}}</h3>
    <div class="radio" ng-repeat="(value, optConfig) in config.options">
      <label>
        <input type="radio" name="{{name}}" ng-value="value" ng-model="ctrl.basicInformation[name]" ng-change="ctrl.change(name)">
        {{optConfig.ja}}
      </label>

      <div class="checkbox">
        <label ng-if="optConfig.optionals" ng-repeat="(label, optional) in optConfig.optionals" ng-init="optName = optional.var">
          <input type="checkbox" name="{{optName}}" ng-model="ctrl.basicInformation[optName]" ng-change="ctrl.change(name)" ng-disabled="ctrl.isDisabled(value, optName)">
          {{label}}
        </label>
      </div>
    </div>
  </section>

  <section ng-repeat="(title, config) in ctrl.config.rebar" ng-init="name = config.var">
    <h3>{{title}}</h3>
    <div class="radio" ng-repeat="(value, optConfig) in config.options">
      <label>
        <input type="radio" name="{{name}}" ng-value="value" ng-model="ctrl.basicInformation[name]" ng-change="ctrl.change(name)">
        {{optConfig.ja}}
      </label>
    </div>
  </section>

  <section ng-repeat="(title, items) in ctrl.config.conditions" class="conditions">
    <h3>{{title}}</h3>
    <div class="checkbox" ng-repeat="(label, config) in items" ng-init="name = config.var">
      <label>
        <input type="checkbox" name="{{name}}" ng-value="value" ng-model="ctrl.basicInformation[name]" ng-change="ctrl.change(name)">
        <span ng-bind-html="label"></span>
      </label>
    </div>
  </section>

  <section ng-repeat="(title, items) in ctrl.config.fatigueData" class="fatigue-data" class="form-inline">
    <h3>{{title}}</h3>
    <div class="checkbox" ng-repeat="(label, config) in items" ng-init="name = config.var">
      <label>
        <input type="checkbox" name="{{name}}" ng-value="value" ng-model="ctrl.basicInformation[name]" ng-change="ctrl.change(name)">
        <span ng-bind-html="label"></span>
      </label>
    </div>
  </section>

  <section ng-repeat="(title, config) in ctrl.config.N" ng-init="name = config.var" class="form-inline">
    <h3>{{title}}</h3>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">{{name}}</span>
        <input type="number" class="form-control" name="{{name}}" ng-model="ctrl.basicInformation[name]" ng-change="ctrl.change(name)">
        <span class="input-group-addon" ng-bind-html="config.postfix"></span>
      </div>
    </div>
  </section>

  <section ng-repeat="(title, config) in ctrl.config.T" ng-init="name = config.var" class="form-inline">
    <h3>{{title}}</h3>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">{{name}}</span>
        <input type="number" class="form-control" name="{{name}}" ng-model="ctrl.basicInformation[name]" ng-change="ctrl.change(name)">
        <span class="input-group-addon" ng-bind-html="config.postfix"></span>
      </div>
    </div>
  </section>

  <section ng-repeat="(title, items) in ctrl.config.trains" class="form-inline">
    <h3>{{title}}</h3>
    <div ng-repeat="(label, config) in items" ng-init="name = config.var" class="form-group-wrapper">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" ng-bind-html="label"></span>
          <input type="number" class="form-control" name="{{name}}" ng-model="ctrl.basicInformation[name]" ng-change="ctrl.change(name)">
          <span class="input-group-addon" ng-bind-html="config.postfix"></span>
        </div>
      </div>
    </div>
  </section>
</section>
