<!DOCTYPE html>
<html ng-app="myApp">

<head>

  <!-- Angular Material CSS now available via Google CDN; version 1.0.0 used here -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

  <!-- Angular Material Javascript now available via Google CDN; version 1.0.0 used here -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <!-- My script file here -->
  <script src="/Script/controller.js"></script>
</head>

<body class="container">

  <div ng-controller="AppController">
    <div>
      <h1>登録フォーム</h1>
      <form ng-submit="submit()">
        <div class="form-group">
          <label for="username">ユーザー名</label>
          <input type="text" class="form-control" id="username" placeholder="twitterのユーザー名を入力" ng-model="username">
        </div>
        <button type="submit" class="btn btn-primary">登録</button>
      </form>
    </div>
    <hr>

    <div>
      <h1>ユーザー一覧</h1>
      <span ng-if="users.length === 0">ユーザーが一人も登録されていません</span>
      <ul>
        <li style="padding: 5px" ng-repeat="user in users">
          <div>
            <a href="{{user.url}}" target="_blank">{{user.username}}</a>
            <button type="button" class="btn btn-xs btn-danger" ng-click="deleteUser($index)">x</button>
          </div>
        </li>
      </ul>
    </div>
  </div>

</body>

</html>