<section class="bars">
  <section>
    <h2>上層梁</h2>
    <div ng-include="'views/bars/table.a.html'"></div>
    <footer ng-include="'views/bars/footer.a.html'"></footer>
  </section>

  <section>
    <h2>地中梁</h2>
    <div ng-include="'views/bars/table.b.html'"></div>
    <footer ng-include="'views/bars/footer.a.html'"></footer>
  </section>

  <section>
    <h2>柱 矩形</h2>
    <div ng-include="'views/bars/table.c.html'"></div>
    <footer ng-include="'views/bars/footer.c.html'"></footer>
  </section>
</section>
