<section class="safety-factors">
  <h2>
    <a href="#!/safety-factors"><span class="glyphicon glyphicon-arrow-left"></span> SafetyFactors</a>
    Add SafetyFactor
  </h2>

  <form name="SafetyFactorForm" ng-submit="ctrl.submit(SafetyFactorForm)" class="form-horizontal">
    <fieldset ng-disabled="SafetyFactorForm.$submitted">
      <div class="row">
        <div class="col-sm-4">
          <table class="table table-condensed">
            <tbody>
              <tr>
                <th>Group</th>
                <th></th>
                <td>
                  <select class="form-control"
                    name="group"
                    ng-model="ctrl.safetyFactor.group"
                    ng-options="group.$id as group.g_name for group in ctrl.groups"
                    required="">
                  </select>
                </td>
              </tr>
              <tr>
                <th>Name</th>
                <th></th>
                <td>
                  <select class="form-control"
                    name="name"
                    ng-model="ctrl.safetyFactor.name"
                    ng-options="key for key in ctrl.keys"
                    required="">
                  </select>
                </td>
              </tr>
              <tr>
                <th>曲げ 安全係数</th>
                <th>&gamma;<sub>c</sub></th>
                <td><input type="number" step="0.01" class="form-control" name="m_rc" ng-model="ctrl.safetyFactor.m_rc"></td>
              </tr>
              <tr>
                <th></th>
                <th>&gamma;<sub>s</sub></th>
                <td><input type="number" step="0.01" class="form-control" name="m_rs" ng-model="ctrl.safetyFactor.m_rs"></td>
              </tr>
              <tr>
                <th></th>
                <th>&gamma;<sub>bs</sub></th>
                <td><input type="number" step="0.01" class="form-control" name="m_rbs" ng-model="ctrl.safetyFactor.m_rbs"></td>
              </tr>
              <tr>
                <th>せん断 安全係数</th>
                <th>&gamma;<sub>c</sub></th>
                <td><input type="number" step="0.01" class="form-control" name="s_rc" ng-model="ctrl.safetyFactor.s_rc"></td>
              </tr>
              <tr>
                <th></th>
                <th>&gamma;<sub>s</sub></th>
                <td><input type="number" step="0.01" class="form-control" name="s_rs" ng-model="ctrl.safetyFactor.s_rs"></td>
              </tr>
              <tr>
                <th></th>
                <th>&gamma;<sub>bc</sub></th>
                <td><input type="number" step="0.01" class="form-control" name="s_rbd" ng-model="ctrl.safetyFactor.s_rbd"></td>
              </tr>
              <tr>
                <th></th>
                <th>&gamma;<sub>bs</sub></th>
                <td><input type="number" step="0.01" class="form-control" name="s_rbs" ng-model="ctrl.safetyFactor.s_rbs"></td>
              </tr>
              <tr>
                <th></th>
                <th>&gamma;<sub>b</sub></th>
                <td><input type="number" step="0.01" class="form-control" name="s_rb" ng-model="ctrl.safetyFactor.s_rb"></td>
              </tr>
              <tr>
                <th>係数</th>
                <th>&gamma;<sub>i</sub></th>
                <td><input type="number" step="0.01" class="form-control" name="ri" ng-model="ctrl.safetyFactor.ri"></td>
              </tr>
              <tr>
                <th>鉄筋配置</th>
                <th></th>
                <td>
                  <select class="form-control"
                    name="consider_rebar"
                    ng-model="ctrl.safetyFactor.consider_rebar"
                    ng-options="considerRebar.value as considerRebar.name for considerRebar in ctrl.considerRebars">
                  </select>
                </td>
              </tr>
            </tbody>
          </table>

          <button type="submit" class="btn btn-primary"
            ng-disabled="
              SafetyFactorForm.$invalid ||
              SafetyFactorForm.$submitted ||
              SafetyFactorForm.$pristine
            ">
            Submit
          </button>
        </div>

        <div class="col-sm-4">
          <pre>{{ctrl.safetyFactor|json}}</pre>
        </div>
      </div>
    </fieldset>
  </form>
</section>
