<section class="bar1s">
  <h2>
    <a href="#!/bar1s">
      <span class="glyphicon glyphicon-arrow-left"></span> Index
    </a>
    Add Bar1
  </h2>

  <form name="Bar1Form" ng-submit="ctrl.submit(Bar1Form)">
    <fieldset ng-disabled="Bar1Form.$submitted">
      <table>
        <tbody>
          <tr>
            <td>DesignPoint</td>
            <td></td>
            <td>
              <select name="designPoint"
                ng-model="ctrl.bar1.designPoint"
                ng-options="designPoint.$id as (designPoint.Member.m_no +' / '+ designPoint.p_name) for designPoint in ctrl.designPoints">
              </select>
            </td>
          </tr>
          <tr>
            <td>位置</td>
            <td></td>
            <td>
              <label for="rebar_side">
                <input type="radio" name="rebar_side" ng-model="ctrl.bar1.rebar_side" value="上"> 上
              </label>
              <label for="rebar_side">
                <input type="radio" name="rebar_side" ng-model="ctrl.bar1.rebar_side" value="下"> 下
              </label>
            </td>
          </tr>
          <tr>
            <td>軸方向鉄筋</td>
            <td>鉄筋径</td>
            <td><input type="numeric" name="rebar_01" ng-model="ctrl.bar1.rebar_01"></td>
          </tr>
          <tr>
            <td></td>
            <td>本数</td>
            <td><input type="numeric" name="rebar_02" ng-model="ctrl.bar1.rebar_02"></td>
          </tr>
          <tr>
            <td></td>
            <td>一段目カブリ</td>
            <td><input type="numeric" step="0.1" name="rebar_03" ng-model="ctrl.bar1.rebar_03"></td>
          </tr>
          <tr>
            <td></td>
            <td>並び数</td>
            <td><input type="numeric" step="0.01" name="rebar_04" ng-model="ctrl.bar1.rebar_04"></td>
          </tr>
          <tr>
            <td></td>
            <td>アキ</td>
            <td><input type="numeric" name="rebar_05" ng-model="ctrl.bar1.rebar_05"></td>
          </tr>
          <tr>
            <td></td>
            <td>間隔</td>
            <td><input type="numeric" step="0.1" name="rebar_06" ng-model="ctrl.bar1.rebar_06"></td>
          </tr>
          <tr>
            <td>側方鉄筋</td>
            <td>鉄筋径</td>
            <td><input type="numeric" name="sidebar_01" ng-model="ctrl.bar1.sidebar_01"></td>
          </tr>
          <tr>
            <td></td>
            <td>本数片</td>
            <td><input type="numeric" name="sidebar_02" ng-model="ctrl.bar1.sidebar_02"></td>
          </tr>
          <tr>
            <td></td>
            <td>上端位置/ピッチ</td>
            <td><input type="numeric" name="sidebar_03" ng-model="ctrl.bar1.sidebar_03"></td>
          </tr>
          <tr>
            <td>スターラップ</td>
            <td>鉄筋径</td>
            <td><input type="numeric" name="hoop_01" ng-model="ctrl.bar1.hoop_01"></td>
          </tr>
          <tr>
            <td></td>
            <td>組数</td>
            <td><input type="numeric" step="0.001" name="hoop_02" ng-model="ctrl.bar1.hoop_02"></td>
          </tr>
          <tr>
            <td></td>
            <td>間隔</td>
            <td><input type="numeric" name="hoop_03" ng-model="ctrl.bar1.hoop_03"></td>
          </tr>
          <tr>
            <td>主筋の斜率</td>
            <td></td>
            <td><input type="numeric" step="0.001" name="rebar_07" ng-model="ctrl.bar1.rebar_07"></td>
          </tr>
          <tr>
            <td>tan&gamma; + tan&beta;</td>
            <td></td>
            <td><input type="numeric" name="rebar_08" ng-model="ctrl.bar1.rebar_08"></td>
          </tr>
          <tr>
            <td>折曲げ鉄筋</td>
            <td>鉄筋径</td>
            <td><input type="numeric" name="bent_01" ng-model="ctrl.bar1.bent_01"></td>
          </tr>
          <tr>
            <td></td>
            <td>本数</td>
            <td><input type="numeric" name="bent_02" ng-model="ctrl.bar1.bent_02"></td>
          </tr>
          <tr>
            <td></td>
            <td>間隔</td>
            <td><input type="numeric" name="bent_03" ng-model="ctrl.bar1.bent_03"></td>
          </tr>
          <tr>
            <td></td>
            <td>角度</td>
            <td><input type="numeric" name="bent_04" ng-model="ctrl.bar1.bent_04"></td>
          </tr>
          <tr>
            <td>処理</td>
            <td></td>
            <td><input type="checkbox" name="flg_enable" ng-model="ctrl.bar1.flg_enable"></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary"
        ng-disabled="
          Bar1Form.$invalid ||
          Bar1Form.$submitted ||
          Bar1Form.$pristine
        ">
        Submit
      </button>
    </fieldset>
  </form>
</section>
