<div class="form-container">
  <form>
    <div class="input-container">
      <label>耐用年数：</label>
      <input id="T" name="T" type="text" [(ngModel)]="service_life" />
    </div>
    <div class="input-container">
      <label>jA：</label>
      <input id="jA" name="jA" type="text" [(ngModel)]="train_A_count" />
    </div>
    <div class="input-container">
      <label>jB：</label>
      <input id="jB" name="jB" type="text" [(ngModel)]="train_B_count" />
    </div>
  </form>
</div>

<div #ht_container class="ht-container">
  <ngb-tabset>
    <ngb-tab *ngFor="let groupe of groupe_list; index as i">
      <ng-template ngbTabTitle>
        <h5 *ngIf="groupe?.length > 0">{{ groupe[0].g_name }}</h5>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="table-container">
          <app-sheet #grid [options]="options[i]"></app-sheet>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>