<div #ht_container class="ht-container">
  <ngb-tabset>
    <ngb-tab *ngFor="let groupe of groupe_list; index as i">
      <ng-template ngbTabTitle>
        <h3>{{groupe[0].g_name}}</h3>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="table-container">
          <div class="header">
            <table width="1665px">
              <thead>
                <tr>
                  <th rowspan="3" width="60px">部材番号</th>
                  <th rowspan="3" width="110px">位置</th>
                  <th rowspan="3" width="250px">算出点名</th>
                  <th width="85px">断面</th>
                  <th rowspan="3" width="40px">位置</th>
                  <th colspan="8">曲げ用</th>
                  <th colspan="8">せん断用</th>
                </tr>
                <tr>
                  <th>B</th>
                  <th rowspan="2" width="70px">SA/SC</th>
                  <th rowspan="2" width="70px">SB/SC</th>
                  <th colspan="2">κ=0.06</th>
                  <th colspan="2">κ=0.12</th>
                  <th colspan="2">複線補正r2</th>

                  <th rowspan="2" width="70px">SA/SC</th>
                  <th rowspan="2" width="70px">SB/SC</th>
                  <th colspan="2">κ=0.06</th>
                  <th colspan="2">κ=0.12</th>
                  <th colspan="2">複線補正r2</th>
                </tr>
                <tr>
                  <th>H</th>
                  <th width="70px">NA</th>
                  <th width="70px">NB</th>
                  <th width="70px">NA</th>
                  <th width="70px">NB</th>
                  <th width="70px">α</th>
                  <th width="70px">β</th>

                  <th width="70px">NA</th>
                  <th width="70px">NB</th>
                  <th width="70px">NA</th>
                  <th width="70px">NB</th>
                  <th width="70px">α</th>
                  <th width="70px">β</th>
                </tr>
              </thead>
            </table>
          </div>

          <hot-table class="hot" [settings]="table_settings" [data]="table_datas[i]" [colHeaders]="false"
            [rowHeaders]="false" height="{{hottable_height}}" width="1659">
            <hot-column data="m_no" width="60" [readOnly]="true"></hot-column>
            <hot-column data="position" width="104" [readOnly]="true"></hot-column>
            <hot-column data="p_name_ex" width="250" [readOnly]="true"></hot-column>
            <hot-column data="bh" width="85" [readOnly]="true"></hot-column>
            <hot-column data="design_point_id" width="40" [readOnly]="true"></hot-column>

            <hot-column data="M_SA" width="70" type="numeric"></hot-column>
            <hot-column data="M_SB" width="70" type="numeric"></hot-column>
            <hot-column data="M_NA06" width="70" type="numeric"></hot-column>
            <hot-column data="M_NB06" width="70" type="numeric"></hot-column>
            <hot-column data="M_NA12" width="70" type="numeric"></hot-column>
            <hot-column data="M_NB12" width="70" type="numeric"></hot-column>
            <hot-column data="M_A" width="70" type="numeric"></hot-column>
            <hot-column data="M_B" width="70" type="numeric"></hot-column>

            <hot-column data="V_SA" width="70" type="numeric"></hot-column>
            <hot-column data="V_SB" width="70" type="numeric"></hot-column>
            <hot-column data="V_NA06" width="70" type="numeric"></hot-column>
            <hot-column data="V_NB06" width="70" type="numeric"></hot-column>
            <hot-column data="V_NA12" width="70" type="numeric"></hot-column>
            <hot-column data="V_NB12" width="70" type="numeric"></hot-column>
            <hot-column data="V_A" width="70" type="numeric"></hot-column>
            <hot-column data="V_B" width="70" type="numeric"></hot-column>

          </hot-table>
        </div>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>