<section class="member-sections">
  <h2>
    <a href="#!/member-sections"><span class="glyphicon glyphicon-arrow-left"></span> MemberSections</a>
    Add MemberSection
  </h2>

  <form name="MemberSectionForm" ng-submit="ctrl.submit(MemberSectionForm)">
    <fieldset ng-disabled="MemberSectionForm.$submitted">
      <div class="form-group">
        <label>Member</label>
        <select class="form-control"
            name="member"
            ng-model="ctrl.memberSection.member"
            ng-options="member.$id as (member.m_no +' / '+ member.Group.g_name) for member in ctrl.members">
        </select>
      </div>

      <button type="submit" class="btn btn-primary"
        ng-disabled="MemberSectionForm.$invalid || MemberSectionForm.$submitted || MemberSectionForm.$pristine">
        Submit
      </button>
    </fieldset>
  </form>
</section>
