<section class="words">
  <section class="nav">
    <h2>項目</h2>
    <ol>
      <li ng-repeat="page in ctrl.pages track by $index"
          ng-class="{active: page.$id? (page.$id == ctrl.page.$id) : (page.en == ctrl.page.en)}">
        <a ng-click="ctrl.select(page)">
          {{page.ja}}
        </a>
        <a ng-href="images/words/{{page.slug}}.png" class="glyphicon glyphicon-picture" title="画像を開く" target="_blank"></a>
      </li>
    </ol>
  </section>

  <section class="list">
    <h2>{{ctrl.page.ja}}</h2>

    <hot-table
      datarows="ctrl.words"
      settings="ctrl.settings"
      row-headers="true"
      col-headers="true"
      min-spare-rows="1"
      ng-show="ctrl.page">
    </hot-table>

    <footer>
      <button type="button" class="btn btn-primary pull-right"
              ng-click="ctrl.save()"
              ng-disabled="!ctrl.isDirty()"
              ng-show="ctrl.page && ctrl.words.length > 1">
        Save
      </button>
    </footer>
  </section>
</section>
