<form name="WordForm" ng-submit="ctrl.submit(WordForm)">
  <table class="table table-hover table-condensed">
    <thead>
      <tr class="row">
        <th class="col-sm-2">#</th>
        <th class="col-sm-5">ja</th>
        <th class="col-sm-5">en</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="word in ctrl.words" ng-form name="EditWordForm" class="row">
        <td class="col-sm-2">
          <input type="number" name="no" class="form-control" ng-model="word.no" required="">
        </td>
        <td class="col-sm-5">
          <input type="text" name="ja" class="form-control" ng-model="word.ja" required="">
        </td>
        <td class="col-sm-5">
          <input type="text" name="en" class="form-control" ng-model="word.en" required="">
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr ng-form name="AddWordForm" class="row">
        <td class="col-sm-2">
          <input type="number" name="no" class="form-control" ng-model="ctrl.word.no" required="">
        </td>
        <td class="col-sm-5">
          <input type="text" name="ja" class="form-control" ng-model="ctrl.word.ja" required="">
        </td>
        <td class="col-sm-5">
          <input type="text" name="en" class="form-control" ng-model="ctrl.word.en">
          <button type="submit" class="ng-hide"></button>
        </td>
      </tr>
    </tfoot>
  </table>
</form>
