main .safety-factors {
  display: inline-block;
}

main .safety-factors header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .safety-factors header button {
  margin-left: 1em;
  margin-bottom: 3px;
}

