<div #ht_container class="ht-container">
  <div #header  class="header">
    <table width="1405px">
      <thead>
        <tr>
          <th rowspan="2" width="60px">部材番号</th>
          <th rowspan="2" width="85px">部材長</th>
          <th rowspan="2" width="85px">グループNo</th>
          <th rowspan="2" width="110px">部材名</th>
          <th rowspan="2" width="80px">断面形状</th>
          <th colspan="4">断面(mm)</th>
          <th colspan="3">環境条件</th>
          <th colspan="2">外観</th>
          <th width="70px">ひび割</th>
          <th width="70px">せん断</th>
          <th colspan="3">曲げ加工 r1</th>
          <th rowspan="2" width="80px">部材数</th>
        </tr>
        <tr>
          <th width="70px">B</th>
          <th width="70px">H</th>
          <th width="70px">Bt</th>
          <th width="70px">t</th>
          <th width="60px">上側</th>
          <th width="60px">下側</th>
          <th width="60px">せん断</th>
          <th width="50px">上側</th>
          <th width="50px">下側</th>
          <th>εcsd</th>
          <th>kr</th>
          <th width="70px">軸鉄筋</th>
          <th width="70px">帯筋</th>
          <th width="70px">折曲げ</th>
        </tr>
      </thead>
    </table>
  </div>
  <hot-table class="hot" [settings]="mambers_table_settings" [data]="mambers_table_datarows" [colHeaders]="false"
    [rowHeaders]="false" height="{{hottable_height}}" width="1435">

    <hot-column data="m_no" width="60px" type="numeric" [readOnly]="true" style="background: #f3f3f3;"></hot-column>
    <hot-column data="m_len" width="85px" type="numeric" format="0.000" [readOnly]="true" style="background: #f3f3f3;">
    </hot-column>
    <hot-column data="g_no" width="85px" type="numeric"></hot-column>
    <hot-column data="g_name" width="110px"></hot-column>
    <hot-column data="shape" width="80px"></hot-column>
    <hot-column data="B" width="70px" type="numeric"></hot-column>
    <hot-column data="H" width="70px" type="numeric"></hot-column>
    <hot-column data="Bt" width="70px" type="numeric"></hot-column>
    <hot-column data="t" width="70px" type="numeric"></hot-column>
    <hot-column data="con_u" width="60px" type="numeric" format="0"></hot-column>
    <hot-column data="con_l" width="60px" type="numeric" format="0"></hot-column>
    <hot-column data="con_s" width="60px" type="numeric" format="0"></hot-column>
    <hot-column data="vis_u" width="50px" type="checkbox"></hot-column>
    <hot-column data="vis_l" width="50px" type="checkbox"></hot-column>
    <hot-column data="ecsd" width="70px" type="numeric" format="0"></hot-column>
    <hot-column data="kr" width="70px" type="numeric" format="0.0"></hot-column>
    <hot-column data="r1_1" width="70px" type="numeric" format="0.00"></hot-column>
    <hot-column data="r1_2" width="70px" type="numeric" format="0.00"></hot-column>
    <hot-column data="r1_3" width="70px" type="numeric" format="0.00"></hot-column>
    <hot-column data="n" width="80px" type="numeric"></hot-column>
  </hot-table>
</div>
<div class="footer">
  <p>断面形状</p>
  <div class="left-table">
  <table >
    <thead>
      <tr>
        <th width="50px">番号</th>
        <th width="70px">構造</th>
        <th width="90px">形状</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td rowspan="4">RC</td>
        <td>矩形</td>
      </tr>
      <tr>
        <td>2</td>
        <td>T形</td>
      </tr>
      <tr>
        <td>3</td>
        <td>円形</td>
      </tr>
      <tr>
        <td>4</td>
        <td>小判</td>
      </tr>
    </tbody>
  </table>
</div>

<!--
<div class="right-table">
  <table >
    <thead>
      <tr>
        <th width="50px">番号</th>
        <th width="70px">構造</th>
        <th width="90px">形状</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>11</td>
        <td rowspan="4">SRC</td>
        <td>矩形</td>
      </tr>
      <tr>
        <td>12</td>
        <td>T形</td>
      </tr>
      <tr>
        <td>13</td>
        <td>円形</td>
      </tr>
      <tr>
        <td>14</td>
        <td>小判</td>
      </tr>
    </tbody>
  </table>
</div>
-->
</div>