<section class="member-section">
  <section>
    <hot-table
      datarows="ctrl.memberSections"
      settings="ctrl.settings.memberSections">
    </hot-table>

    <footer>
      <button type="button" class="btn btn-primary btn-sm"
          ng-disabled="!ctrl.isDirty()"
          ng-click="ctrl.save()">
        <span class="glyphicon glyphicon-plus"></span> Save
      </button>
    </footer>
  </section>

  <footer>
    <section>
      <h3>
        部材名
        <a href="#!/members" class="glyphicon glyphicon-pencil"></a>
      </h3>
      <hot-table datarows="ctrl.members" settings="ctrl.settings.members"></hot-table>
    </section>

    <section>
      <h3>
        断面形状
        <a href="#!/section-shapes" class="glyphicon glyphicon-pencil"></a>
      </h3>
      <hot-table datarows="ctrl.sectionShapes" settings="ctrl.settings.sectionShapes"></hot-table>
    </section>

    <section>
      <h3>
        環境条件
        <a href="#!/conditions" class="glyphicon glyphicon-pencil"></a>
      </h3>
      <hot-table datarows="ctrl.conditions" settings="ctrl.settings.conditions"></hot-table>
    </section>
  </footer>
</section>
