<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th rowspan="2">部材番号</th>
      <th rowspan="2">部材長</th>
      <th rowspan="2">グループ No.</th>
      <th rowspan="2">部材名</th>
      <th rowspan="2">断面形状</th>
      <th colspan="4">断面 (mm)</th>
      <th colspan="3">環境条件</th>
      <th colspan="2">外観</th>
      <th>ひび割</th>
      <th>せん断</th>
      <th colspan="3">鉄筋 曲げ加工 r<sub>1</sub></th>
      <th rowspan="2">部材数</th>
      <th rowspan="2">疲労パス</th>
    </tr>
    <tr>
      <th>B</th>
      <th>H</th>
      <th>Bt</th>
      <th>t</th>
      <th>上側</th>
      <th>下側</th>
      <th>せん断</th>
      <th>上側</th>
      <th>下側</th>
      <th>&epsilon;<sub>csd</sub></th>
      <th>K<sub>r</sub></th>
      <th>軸鉄筋</th>
      <th>帯筋</th>
      <th>折曲げ</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="section in ctrl.memberSections">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
