<section class="fatigues">
  <h2>
    <a href="#!/fatigues">
      <span class="glyphicon glyphicon-arrow-left"></span> Fatigues
    </a>
    Add Fatigue
  </h2>

  <div class="row">
    <div class="col-sm-3">
      <form name="FatigueForm" ng-submit="ctrl.submit(FatigueForm)">
        <fieldset ng-disabled="FatigueForm.$submitted">
          <table class="table table-condensed">
            <tbody>
              <tr>
                <td>DesignPoint</td>
                <td></td>
                <td>
                  <select class="form-control"
                    name="designPoint"
                    ng-model="ctrl.fatigue.designPoint"
                    ng-options="designPoint.$id as (designPoint.Member.m_no +' / '+ designPoint.p_name) for designPoint in ctrl.designPoints">
                  </select>
                </td>
              </tr>
              <tr>
                <td>位置</td>
                <td></td>
                <td>
                  <div class="radio">
                    <label for="rebar_side_01">
                      <input type="radio" id="rebar_side_01" name="rebar_side" ng-model="ctrl.fatigue.rebar_side" value="曲げ用・上"> 曲げ用・上
                    </label>
                  </div>
                  <div class="radio">
                    <label for="rebar_side_02">
                      <input type="radio" id="rebar_side_02" name="rebar_side" ng-model="ctrl.fatigue.rebar_side" value="曲げ用・下"> 曲げ用・下
                    </label>
                  </div>
                  <div class="radio">
                    <label for="rebar_side_03">
                      <input type="radio" id="rebar_side_03" name="rebar_side" ng-model="ctrl.fatigue.rebar_side" value="せん断用"> せん断用
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>S<sub>A</sub>/S<sub>C</sub></td>
                <td></td>
                <td><input type="numeric" class="form-control" name="SASC" ng-model="ctrl.fatigue.SASC"></td>
              </tr>
              <tr>
                <td>S<sub>B</sub>/S<sub>C</sub></td>
                <td></td>
                <td><input type="numeric" class="form-control" name="SBSC" ng-model="ctrl.fatigue.SBSC"></td>
              </tr>
              <tr>
                <td>&kappa; = 0.06</td>
                <td>N<sub>A</sub></td>
                <td><input type="numeric" class="form-control" step="0.1" name="kappa006.NA" ng-model="ctrl.fatigue.kappa006.NA"></td>
              </tr>
              <tr>
                <td></td>
                <td>N<sub>B</sub></td>
                <td><input type="numeric" class="form-control" step="0.01" name="kappa006.NB" ng-model="ctrl.fatigue.kappa006.NB"></td>
              </tr>
              <tr>
                <td>&kappa; = 0.12</td>
                <td>N<sub>A</sub></td>
                <td><input type="numeric" class="form-control" name="kappa012.NA" ng-model="ctrl.fatigue.kappa012.NA"></td>
              </tr>
              <tr>
                <td></td>
                <td>N<sub>B</sub></td>
                <td><input type="numeric" class="form-control" step="0.1" name="kappa012.NB" ng-model="ctrl.fatigue.kappa012.NB"></td>
              </tr>
              <tr>
                <td>複線補正 r<sub>2</sub></td>
                <td>&alpha;</td>
                <td><input type="numeric" class="form-control" name="r2.a" ng-model="ctrl.fatigue.r2.a"></td>
              </tr>
              <tr>
                <td></td>
                <td>&beta;</td>
                <td><input type="numeric" class="form-control" name="r2.b" ng-model="ctrl.fatigue.r2.b"></td>
              </tr>
            </tbody>
          </table>
          <button type="submit" class="btn btn-primary"
            ng-disabled="
              FatigueForm.$invalid ||
              FatigueForm.$submitted ||
              FatigueForm.$pristine
            ">
            Submit
          </button>
        </fieldset>
      </form>
    </div>
    <div class="col-sm-5">
      <pre>{{ctrl.fatigue|json}}</pre>
    </div>
  </div>
</section>
