<div class="row">
  <div class="col-xs-4 margin">
    <div *ngIf="loggedIn" class="welcome-message">
      {{loginUserName}}さん！あなたの保有ポイントは{{userPoint}}ポイントです
    </div>
    <div>{{pickup_file_name}}</div>
  </div>

  <div class="col-xs-4 margin">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>ファイル</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="renew()">新規作成</button>

        <label>
          <span ngbDropdownItem>
            ファイルを開く
            <input type="file" accept="application/wdj" (change)="open($event)" style="display:none" />
          </span>
        </label>

        <label>
          <span ngbDropdownItem>
            pickupファイルを開く
            <input type="file" accept="text/pik" (change)="pickup($event)" style="display:none" />
          </span>
        </label>

        <button ngbDropdownItem (click)="save()">ファイルを保存</button>
      </div>
    </div>
  </div>

  <div class="col-xs-4 margin">
    <div *ngIf="!loggedIn" class="d-inline-block">
      <button (click)="logIn()" class="btn btn-light">ログイン</button>
    </div>
    <div *ngIf="loggedIn" class="d-inline-block">
      <div class="logout-button">
        <button (click)="logOut()" class="btn btn-light">ログアウト</button>
      </div>
    </div>
  </div>

  <div class="col-xs-4 margin">
    <div class="d-inline-block">
      <button class="btn btn-light"
        onClick="window.open('https://note.com/structuralengine/m/mc45d22ca1ba2','_blank')">ヘルプ</button>
    </div>
  </div>

</div>