<div class="row">
  <div class="col-xs-4 margin">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>ファイル</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="renew()">新規作成</button>
        <div>
          <label style="width: 100%;">
            <span ngbDropdownItem>
              ファイルを開く
              <input type="file" accept="application/wdj" (change)="open($event)" style="display:none" />
            </span>
          </label>
        </div>
        <div>
          <label style="width: 100%;">
            <span ngbDropdownItem>
              pickupファイルを開く
              <input type="file" accept="text/pik" (change)="pickup($event)" style="display:none" />
            </span>
          </label>
        </div>
        <button ngbDropdownItem (click)="fileSave()">ファイルを保存</button>
      </div>
    </div>
  </div>

  <div class="col-xs-4 margin">
    <div class="d-inline-block">
      <button class="btn btn-light"
        onClick="window.open('https://note.com/structuralengine/m/mc45d22ca1ba2','_blank')">ヘルプ</button>
    </div>
  </div>

  <div class="login-area">
    <div *ngIf="!loggedIn">
      <button (click)="logIn()" class="btn btn-light">
        <i class="fas fa-sign-in-alt"></i> ログイン
      </button>
    </div>

    <div *ngIf="loggedIn">
      <div *ngIf="auth.user | async as user" class="userInfo">
        <div ngbDropdown>
          <a class="icon file" id="dropdownBasic1" class="login-btn" ngbDropdownToggle onfocus="this.blur();"><i
              class="far fa-user-circle"></i>{{ user.displayName }}</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a (click)="auth.signOut()" (click)="logOut()" class="login-btn logOut">ログアウト</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>