<section>
  <h2>Calculation Print</h2>

  <section ng-repeat="(title, items) in ctrl.config.content">
    <h3>{{title}}</h3>
    <div class="checkbox" ng-repeat="(label, config) in items" ng-init="name = config.var">
      <label>
        <input type="checkbox" name="{{name}}" ng-model="ctrl.calculationPrint[name]" ng-change="ctrl.change(name)">
        {{label}}
      </label>
    </div>
  </section>

  <section ng-repeat="(title, items) in ctrl.config.check">
    <h3>{{title}}</h3>
    <div class="checkbox" ng-repeat="(label, config) in items" ng-init="name = config.var">
      <label>
        <input type="checkbox" name="{{name}}" ng-model="ctrl.calculationPrint[name]" ng-change="ctrl.change(name)">
        {{label}}
      </label>
    </div>
  </section>

  <section ng-repeat="(title, config) in ctrl.config.calc_target" ng-init="name = config.var" class="form-inline">
    <h3>{{title}}</h3>
    <div class="form-group">
      <select class="form-control"
        name="{{name}}"
        ng-model="ctrl.calculationPrint[name]"
        ng-options="group.g_no as group.g_name for group in ctrl.groups"
        ng-change="ctrl.change(name)"
        multiple="">
      </select>
    </div>
  </section>

  <section ng-repeat="(title, items) in ctrl.config.print">
    <h3>{{title}}</h3>
    <div class="radio" ng-repeat="(label, config) in items" ng-init="value = config.var">
      <label>
        <input type="radio" name="print" ng-model="ctrl.calculationPrint.print" ng-value="value" ng-change="ctrl.change(name)">
        {{label}}
      </label>
    </div>
  </section>

  <section ng-repeat="(title, config) in ctrl.config.preview" ng-init="name = config.var">
    <h3>プレビュー</h3>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="{{name}}" ng-model="ctrl.calculationPrint[name]" ng-change="ctrl.change(name)">
        {{title}}
      </label>
    </div>
  </section>
</section>
