<section class="members">
  <header>
    <h2>Members</h2>
    <div class="buttons">
      <button uib-popover-template="'views/_section-shapes.html'"
              popover-placement="bottom"
              class="btn btn-default"
              type="button">
        断面形状
      </button>

      <button uib-popover-template="'views/_conditions.html'"
              popover-placement="right"
              class="btn btn-default"
              type="button">
        環境条件
      </button>
    </div>
  </header>

  <hot-table
    hot-id="members"
    settings="ctrl.settings"
    datarows="ctrl.members"
    ht-resizable>
  </hot-table>
</section>
