<section class="safety-factors-material-strengths">
  <h2>Safety Factors, Material Strengths</h2>

  <section ng-repeat="group in ctrl.groups"
      ng-init="
        safetyFactors = ctrl.safetyFactors[group.g_no] || [];
        materialStrengths = ctrl.materialStrengths[group.g_no] || [];
        materialStrengthRests = ctrl.materialStrengthRests[group.g_no] || [];
        g_idx = $index;
      ">
    <h3>{{group.g_name}}</h3>

    <section class="safety-factors">
      <header>
        <h4>安全係数</h4>
        <cheat-button
          data-datarows="ctrl.considerRebars"
          data-table-title="鉄筋配置"
          data-button-title="鉄筋配置"
          data-placement="right">
        </cheat-button>
      </header>

      <hot-table
        hot-id="safetyFactors-{{g_idx}}"
        settings="ctrl.settings.safetyFactors"
        datarows="safetyFactors">
      </hot-table>
    </section>

    <section class="material-strengths">
      <h4>材料強度</h4>
      <hot-table
        hot-id="materialStrengths-{{g_idx}}"
        settings="ctrl.settings.materialStrengths"
        datarows="materialStrengths">
      </hot-table>

      <h4>&nbsp;</h4>
      <hot-table
        hot-id="materialStrengthRest-{{g_idx}}"
        ng-repeat="materialStrengthRest in materialStrengthRests"
        settings="materialStrengthRest.settings"
        datarows="materialStrengthRest.datarows">
      </hot-table>
    </section>
  </section>
</section>
