main {
  .fatigues {
    hot-table {
      td.section[rowspan] {
        .BH {
          display: flex;
          flex-direction: column;
          //justify-content: center;
          //height: 100%;
          text-align: right;
        }
      }
    }
  }
}
