/* ページレイアウト (section.sheet を１ページとする) */
.HtmlPage {

  font-family:"ＭＳ 明朝","HG明朝E", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",  "ＭＳ Ｐ明朝",  serif;
  
  /* マージン・パディングをリセットした方がデザインしやすい */
  margin: 0;
  padding: 0;

  .sheet {
    background: white; /* 背景を白く */
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3); /* ドロップシャドウ */
    margin: 5mm auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
    /* 用紙サイズ A4 */
    height: 297mm;
    width: 210mm;
    /* 余白サイズ */
    padding-top: 35mm;
    padding-left: 30mm;
    padding-right: 30mm;
  }

}
