<div class="radio" ng-repeat="(key, config) in ctrl.settings.axis.items">
  <label>
    <input type="radio" name="axis"
        ng-model="ctrl.basicInformation.axis"
        ng-value="key">
      {{config.label}}
  </label>

  <span ng-if="config.items" ng-repeat="(key2, config2) in config.items">
    <label>
      <input type="checkbox"
          name="{{key2}}"
          ng-model="ctrl.basicInformation[key2]"
          ng-disabled="ctrl.isDisabled(key, key2)">
        {{config2.label}}
    </label>
  </span>
</div>
