<section class="basic-information index panes">
  <div class="pane tables">
    <h2>ピックアップ (曲げ耐力用)</h2>
    <div ng-include="'views/basic-information/table.a.html'"></div>

    <h2>ピックアップ (せん断耐力用)</h2>
    <div ng-include="'views/basic-information/table.b.html'"></div>

    <footer>
      <p>せん断耐力の耐久性変動応力を ①-② で算出する場合は、③ の Pick Up No を 0 とする。</p>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="vietnam_railway"> Vietnam_Railway
        </label>

        <div class="buttons">
          <button type="button" class="btn btn-default">標準の見出し</button>
          <button type="button" class="btn btn-default">テンプレート読み込み</button>
          <button type="button" class="btn btn-default">テンプレート保存</button>
          <button type="button" class="btn btn-default">PickUp File (.pik) を開く</button>
          <button type="button" class="btn btn-default">PickUp.dat 読み込み</button>
        </div>
      </div>
    </footer>
  </div>

  <div class="pane settings">
    <div ng-include="'views/basic-information/settings.html'"></div>
  </div>
</section>
