<div class="checkbox">
  <label>
    <input type="checkbox" name=""> 縁応力度が制限値以内の時でもひび割れ幅を計算する
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" name=""> ひび割れ幅制限値に用いるかぶりは 100mm を上限とする
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" name=""> T 形断面でフランジ側引張は矩形断面で計算する
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" name=""> 円形断面で鉄筋を頂点に 1 本配置する
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" name=""> 柱・杭の軸方向圧縮耐力 N'<sub>oud</sub> を計算する (部材係数 &gamma;<sub>b</sub>=1.3)
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" name=""> 耐久性のせん断ひび割れの検討で V<sub>d</sub> < 0.7 &sdot; V<sub>cd</sub> でも省略しない
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" name=""> &sigma;<sub>c</sub> &le; 0.4 &sdot; f<sub>cd</sub> の検討を行わない
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" name=""> せん断耐力: &beta;<sub>n</sub> の算定に用いる M<sub>ud</sub> は軸力を考慮しない
  </label>
</div>
