<dl class="form-inline">
  <dt>疲労寿命 N</dt>
  <dd>
    <input type="number" step="0.01" class="form-control" name="N" ng-model="ctrl.basicInformation.N">
    &sdot;10<sup>6</sup> 回
  </dd>

  <dt>設計耐用年数 T</dt>
  <dd><input type="number" class="form-control" name="T" ng-model="ctrl.basicInformation.T"> 年</dd>

  <dt>1日当たり列車本数</dt>
  <dd>
    <dl class="">
      <dt>j<sub>A</sub></dt>
      <dd><input type="number" class="form-control" name="jA" ng-model="ctrl.basicInformation.jA"> 本/日</dd>

      <dt>j<sub>B</sub></dt>
      <dd><input type="number" class="form-control" name="jB" ng-model="ctrl.basicInformation.jB"> 本/日</dd>
    </dl>
  </dd>
</dl>
