<div class="radio">
  <label>
    <input type="radio" name="optionsRadios"> JR 各社
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios"> 鉄道・運輸機構
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios"> JR 東日本
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios"> JES 工法
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" name=""> 抗土圧構造モード
  </label>
</div>

<footer>
  <dl class="form-inline">
    <dt>使用性 (外観) ひび割れ幅</dt>
    <dd>制限値 <input type="number" name="" class="form-control"> mm</dd>
  </dl>
</footer>
