<ul class="nav nav-pills">
  <li role="presentation" ng-class="{active: tabs.path=='basic-information'}"><a href="#!/basic-information">基本データ</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='members'}"><a href="#!/members">部材・断面</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='design-points'}"><a href="#!/design-points">算出点</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='bars'}"><a href="#!/bars">鉄筋配置</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='fatigues'}"><a href="#!/fatigues">疲労データ</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='safety-factors-material-strengths'}"><a href="#!/safety-factors-material-strengths">安全係数・材料強度</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='section-forces'}"><a href="#!/section-forces">断面力</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='calculation-print'}"><a href="#!/calculation-print">計算・印刷</a></li>
</ul>
