<section class="members">
  <h2>
    <a href="#!/members"><span class="glyphicon glyphicon-arrow-left"></span> Members</a>
    Add Member
  </h2>

  <form name="MemberForm" ng-submit="ctrl.submit(MemberForm)">
    <fieldset ng-disabled="MemberForm.$submitted">
      <div class="form-group">
        <label for="group">Group</label>
        <select class="form-control"
            name="group"
            ng-model="ctrl.member.group"
            ng-options="group.$id as ('('+ group.g_no +') '+ group.g_name) for group in ctrl.groups">
          <option value=""></option>
        </select>
      </div>

      <div class="form-group">
        <label>No</label>
        <input type="number" class="form-control" name="no" ng-model="ctrl.member.m_no" required>
      </div>

      <button type="submit" class="btn btn-default ng-hide"></button>
    </fieldset>
  </form>
</section>
