<section class="members">
  <h2>
    <a href="#!/groups"><span class="glyphicon glyphicon-arrow-left"></span> Groups</a>
    Members
    <a href="#!/members/add"><span class="glyphicon glyphicon-plus"></span></a>
    <a href="#!/member-sections">MemberSections <span class="glyphicon glyphicon-arrow-right"></span></a>
    <a href="#!/design-points">DesignPoints <span class="glyphicon glyphicon-arrow-right"></span></a>
  </h2>

  <hot-table
    settings="ctrl.settings"
    datarows="ctrl.members">
  </hot-table>
</section>
